# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Dask / temp
dask-worker-space/
*.zarr/

# Logs / outputs
logs/
*.out

# Large binary files
*.nc
*.h5
*.pt

# OS
.DS_Store

# Ignore scalene output folder
high_res_diagnostics/VHF/scalene/
